.cajaPadre{
    background-color: #2C3E50 ;
}
.tituloCarrito{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 8px grey;   
}
.ventanaFloat{
   position: absolute;
   right: 0;
   top: 80px; 
   background-color: lightblue;
   box-shadow: 0px 5px 5px grey;
}
.compras{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 12px;
}
.compras:hover{
    cursor: pointer;
}
.contador{
    text-align: center;
    width: 20px;
    border-radius: 100%;
    position: sticky;
    color: white;
    background-color: red;
}
.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    grid-row-gap: 20px;
}   
p{
    margin: 0;
}

h5{
    margin: 0;
}
.bordes{
    border-top: 1px solid black;
    border-bottom: 1px solid black  ;
}

.contenedores{
    margin-top: 10px;
    display: grid !important;  
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    flex-direction: column;
    width: 12rem;
    height: 300px;
    text-align: center;
    box-shadow: 0px 3px 10px black;
    margin-bottom: 20px;
}
.pop__up{
    display: none;
}
.pop__up{
    display: block;
    background-color: rgb(180,180,180,0.8);
    border-radius: 20px;
    margin-top: 30px;
    padding-top: 10px;
    color: white;
    position: absolute;
    width: 300px;
    top: 0;
    right: 39%;
    filter: blur(0px);
}
